.Home{
    width: 100%;
    padding: var( --padding);
}
.Home_container{
    width: 100%;
    display: flex;
    align-items: center;
}
.Friendchats_home{
    width: 35%;
    
}
.Messaging_home{
    width: 65%;
    background-color: #efeae2;
}