.Messagearea{
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.footer_contain{
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999999999999;
    position: fixed;
}
.close{
    position: absolute !important;
    top: 1.3rem !important;
    right: 5rem !important;
    font-size: 3rem !important;
    cursor: pointer !important;
    z-index: 99999999999999999999999999999999999999999999999999999 !important;
    color: rgba(211, 205, 205,0.7) !important;
}
.Messagearea_container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.Messagearea_nav{
    width: 65%;
    display: flex !important;
    align-items: center !important;
    gap: 4rem;
    position: fixed;
    z-index: 9999999999999999999999999;
    top: 0;
    right: 0;
    height: 10rem;
    padding-left: 2rem;
    background-color: #f0f2f5;
}
.margintop{
    margin-top: 10rem !important;
    margin-bottom: 5rem;
}

.profile_images{
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
}
.Messagearea_names{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.Messagearea_names > h1{
    font-size: 2.5rem;
    font-weight: 300;
}
.Messagearea_names > p{
    font-size: 0.95rem;
    color: #8f909b !important;
}

.receiver_message_chat_layout{
    width: 50% !important;
    color: #111b21;
    font-size: 0.95rem;
    border-radius: 30px;
    align-items: center;
    margin: 2rem 3rem;
    background-color: #ffffff;
    padding: 1rem;
    letter-spacing: normal;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
}
.message_img{
    display: flex;
    width: 800px;
    height: 500px;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
}
.sender_message_chat_layout{
    width: 50%;
    align-items: center;
    color: #111b21;
    font-size: 0.95rem;
    margin-left: 28em;
    border-radius: 30px;
    margin-top: 2rem;
    background-color: #d9fdd3;
    padding: 1rem;
    letter-spacing: normal;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
}

@media screen and (max-width: 642px) {
    .Messagearea{
        width: 100%;
        min-height: 100vh;
        background-color: #efeae2;
    }
    .close{
        top: 2rem !important;
        right: 1.5rem !important;
        font-size: 1.6rem !important;
    }
    .Messagearea_container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .Messagearea_nav{
        width: 100%;
        display: flex !important;
        align-items: center !important;
        gap: 2rem;
        position: fixed;
        z-index: 9999999999999999999999999;
        top: 0;
        right: 0;
        height: 6rem;
        padding-left: 2rem;
        background-color: #f0f2f5;
    }
    .margintop{
        width: 100%;
        margin-top: 6rem !important;
        margin-bottom: 4rem;
    }
    
    .profile_images{
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
    }
    .Messagearea_names{
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
    }
    .Messagearea_names > h1{
        font-size: 1rem;
        font-weight: 300;
    }
    .Messagearea_names > p{
        font-size: 0.95rem;
        color: #8f909b !important;
    }
    
    .receiver_message_chat_layout{
        width: 75% !important;
        color: #111b21;
        font-size: 0.95rem;
        border-radius: 30px;
        align-items: center;
        margin: 1.5rem 1rem;
        background-color: #ffffff;
        padding: 1rem;
        letter-spacing: normal;
        font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
    }
    .message_img{
        display: flex;
        width: 300px;
        height: 500px;
        border-radius: 16px 16px 0 0;
        object-fit: cover;
    }
    .sender_message_chat_layout{
        width: 75%;
        align-items: center;
        color: #111b21;
        font-size: 0.95rem;
        margin-left: 5.2em;
        border-radius: 30px;
        margin-top: 1.5rem;
        background-color: #d9fdd3;
        padding: 1rem;
        letter-spacing: normal;
        font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
    }
}
@media screen and (min-width: 642px) and (max-width: 1009px) {
    .Messagearea{
        width: 100%;
        min-height: 100vh;
        background-color: #efeae2;
    }
    .close{
        top: 2rem !important;
        right: 3rem !important;
        font-size: 1.6rem !important;
    }
    .Messagearea_container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .Messagearea_nav{
        width: 100%;
        display: flex !important;
        align-items: center !important;
        gap: 4rem;
        position: fixed;
        z-index: 9999999999999999999999999;
        top: 0;
        right: 0;
        height: 6rem;
        padding-left: 2rem;
        background-color: #f0f2f5;
    }
    .margintop{
        width: 100%;
        margin-top: 6rem !important;
        margin-bottom: 4rem;
    }
    
    .profile_images{
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
    }
    .Messagearea_names{
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
    }
    .Messagearea_names > h1{
        font-size: 1rem;
        font-weight: 300;
    }
    .Messagearea_names > p{
        font-size: 0.95rem;
        color: #8f909b !important;
    }
    
    .receiver_message_chat_layout{
        width: 75% !important;
        color: #111b21;
        font-size: 0.95rem;
        border-radius: 30px;
        align-items: center;
        margin: 1.5rem 1rem;
        background-color: #ffffff;
        padding: 1rem;
        letter-spacing: normal;
        font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
    }
    .message_img{
        display: flex;
        width: 300px;
        height: 500px;
        border-radius: 16px 16px 0 0;
        object-fit: cover;
    }
    .sender_message_chat_layout{
        width: 75%;
        align-items: center;
        color: #111b21;
        font-size: 0.95rem;
        margin-left: 10.2em;
        border-radius: 30px;
        margin-top: 1.5rem;
        background-color: #d9fdd3;
        padding: 1rem;
        letter-spacing: normal;
        font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
    }
}
@media screen and (min-width: 1010px)  {
    .Messagearea{
        width: 100%;
        min-height: 100vh;
        background-color: #efeae2;
    }
    .close{
        top: 2rem !important;
        right: 3rem !important;
        font-size: 1.6rem !important;
    }
    .Messagearea_container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .Messagearea_nav{
        width: 100%;
        display: flex !important;
        align-items: center !important;
        gap: 4rem;
        position: fixed;
        z-index: 9999999999999999999999999;
        top: 0;
        right: 0;
        height: 6rem;
        padding-left: 2rem;
        background-color: #f0f2f5;
    }
    .margintop{
        width: 100%;
        margin-top: 6rem !important;
        margin-bottom: 4rem;
    }
    
    .profile_images{
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
    }
    .Messagearea_names{
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
    }
    .Messagearea_names > h1{
        font-size: 1rem;
        font-weight: 300;
    }
    .Messagearea_names > p{
        font-size: 0.95rem;
        color: #8f909b !important;
    }
    
    .receiver_message_chat_layout{
        width: 75% !important;
        color: #111b21;
        font-size: 0.95rem;
        border-radius: 30px;
        align-items: center;
        margin: 1.5rem 1rem;
        background-color: #ffffff;
        padding: 1rem;
        letter-spacing: normal;
        font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
    }
    .message_img{
        display: flex;
        width: 300px;
        height: 500px;
        border-radius: 16px 16px 0 0;
        object-fit: cover;
    }
    .sender_message_chat_layout{
        width: 75%;
        align-items: center;
        color: #111b21;
        font-size: 0.95rem;
        margin-left: 15.2em;
        border-radius: 30px;
        margin-top: 1.5rem;
        background-color: #d9fdd3;
        padding: 1rem;
        letter-spacing: normal;
        font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande", Arial, Ubuntu, Cantarell, "Fira Sans", sans-serif;
    }
}